*{
    margin: 0px;
    padding: 0px;
}

.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
    padding: 10px;
}
.menus{
    list-style: none;
    display: flex;
    gap:15px;
    font-size: 17px;
}

/* Banner-Container Style */

.banner-container{
    height:100vh;
    background-image: url("/image/background.jpg"),linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4));
    background-blend-mode: overlay;
    background-position: center;   
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display:flex;
    align-items: center;
} 

.b-info{
    margin-left: 400px;
}

.title{
    color:white;
    font-size: 55px;
    font-weight: bold;

}
.orange{
    color: orangered;
}

.para{
    color: white;
    padding:10px;
}

.btn{
    padding: 12px 20px;
    border:none;
}
.bt-orange{
    color: white;
    background-color: orangered;
}
/* Section 3 style tried myself

.pic{
    height: 100px;
    width:120px;
    border: white;
}
.imgs{
    width:50px;
    height:50px;
    border: white ;
}
.section3-container{
    display: flex;
    padding: 20px 20px;
    justify-content: space-around;
    background-color: black;
}

.small{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btn-s{
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    color: grey;
    background-color: white;
    margin-bottom: 10px;
}
.titles{
    color: white;
}
ol{
    color:white;
    margin-bottom: 25px;
    margin-top: 15px;
}
.small{
    color:white;

} */

/*section 3 style sirs way */

.service-container{
    height:100vh;
    background-image: url("/image/footer-bg.png"),linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9));
    background-blend-mode: overlay;
    background-position: center;   
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.ico{
    width: 70px;
    margin-bottom: 20px;
}
.box{
    width: 150px;
    height: 100px;
    padding: 50px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 5px;
    font-size: small;
}

.first-two-box{
    display: flex;
    gap: 8px;
    margin-top:5px;
}

.parah{
    width:50%;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* more details part styling */

.auth{
    width: 70px;
    height: 70px;
    border-radius: 35px;
    margin-top: 10px;
}

.author-container{
    display: flex;
    gap:20px;
    align-items: center;
}

.profile-container{
    display: flex;
    align-items: center;
    gap: 5px;
    border-right: 2px solid red;
    padding-right: 20px;
}
.hh{
    margin-bottom: 10px;
    margin-top: 10px;
}

/* Make appointment part */

.phone{
    display: flex;
    align-items:center
}

.appointment-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin:auto;
    background-color: red;
    padding: 20px;
    border-radius: 10px;
    margin-top: -70px;
}